In [2]:
import os
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.metrics import average_precision_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

file_path = "./inputs/"
files = os.listdir(file_path)
files

['sample_submission.csv', 'test.csv', 'train.csv']

In [4]:
train_df = pd.read_csv(file_path + files[2]).set_index("id")
target = train_df["Fertilizer Name"]
train_df.drop("Fertilizer Name", axis=1, inplace=True)
train_df

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous
id,,,,,,,,
0,37,70,36,Clayey,Sugarcane,36,4,5
1,27,69,65,Sandy,Millets,30,6,18
2,29,63,32,Sandy,Millets,24,12,16
3,35,62,54,Sandy,Barley,39,12,4
4,35,58,43,Red,Paddy,37,2,16
...,...,...,...,...,...,...,...,...
749995,25,69,30,Clayey,Maize,8,16,6
749996,37,64,58,Loamy,Sugarcane,38,8,20
749997,35,68,59,Sandy,Ground Nuts,6,11,29
749998,31,68,29,Red,Cotton,9,11,12
749999,33,55,29,Loamy,Cotton,4,10,9

In [6]:
# Filter the categorical and non-categorical columns
categories = train_df.select_dtypes(include=object).columns
non_categories = train_df.select_dtypes(include=["number"]).columns

display(categories)
display(non_categories)

Index(['Soil Type', 'Crop Type'], dtype='object')

Index(['Temparature', 'Humidity', 'Moisture', 'Nitrogen', 'Potassium',
       'Phosphorous'],
      dtype='object')

In [8]:
# Scaling the non_categorical features
scaler = StandardScaler()
train_df[non_categories] = scaler.fit_transform(train_df[non_categories])
train_df[non_categories]

        Temparature  Humidity  Moisture  Nitrogen  Potassium  Phosphorous
id
0          1.365380  1.348000 -0.778675  1.150683  -0.950166    -1.301811
1         -1.118740  1.197572  1.680080  0.615738  -0.603282    -0.248908
2         -0.621916  0.295003 -1.117813  0.080794   0.437369    -0.410893
3          0.868556  0.144575  0.747449  1.418155   0.437369    -1.382803
4          0.868556 -0.457138 -0.185182  1.239840  -1.297050    -0.410893
...             ...       ...       ...       ...        ...          ...
749995    -1.615563  1.197572 -1.287383 -1.345725   1.131137    -1.220818
749996     1.365380  0.445431  1.086588  1.328997  -0.256399    -0.086923
749997     0.868556  1.047144  1.171372 -1.524040   0.263927     0.642009
749998    -0.125092  1.047144 -1.372167 -1.256567   0.263927    -0.734863
749999     0.371732 -0.908422 -1.372167 -1.702354   0.090485    -0.977841

[750000 rows x 6 columns]

In [10]:
# Encode the categorical features
encoder = LabelEncoder()
for column in categories:
    train_df[column] = encoder.fit_transform(train_df[column])

train_df[categories]

        Soil Type  Crop Type
id
0               1          8
1               4          4
2               4          4
3               4          0
4               3          6
...           ...        ...
749995          1          3
749996          2          8
749997          4          2
749998          3          1
749999          2          1

[750000 rows x 2 columns]

In [12]:
train_df

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous
id,,,,,,,,
0,1.365380,1.348000,-0.778675,1,8,1.150683,-0.950166,-1.301811
1,-1.118740,1.197572,1.680080,4,4,0.615738,-0.603282,-0.248908
2,-0.621916,0.295003,-1.117813,4,4,0.080794,0.437369,-0.410893
3,0.868556,0.144575,0.747449,4,0,1.418155,0.437369,-1.382803
4,0.868556,-0.457138,-0.185182,3,6,1.239840,-1.297050,-0.410893
...,...,...,...,...,...,...,...,...
749995,-1.615563,1.197572,-1.287383,1,3,-1.345725,1.131137,-1.220818
749996,1.365380,0.445431,1.086588,2,8,1.328997,-0.256399,-0.086923
749997,0.868556,1.047144,1.171372,4,2,-1.524040,0.263927,0.642009
749998,-0.125092,1.047144,-1.372167,3,1,-1.256567,0.263927,-0.734863
749999,0.371732,-0.908422,-1.372167,2,1,-1.702354,0.090485,-0.977841

In [14]:
# Split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(train_df, target, test_size=0.2, random_state=42)

In [15]:
# First training
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()
model.fit(X_train, y_train)
predictions = model.predict(X_test)
score = average_precision_score(y_test, predictions)
display(score)
display(predictions)

ValueError: could not convert string to float: 'Urea'

In [ ]:
from catboost import CatBoostClassifier

model = CatBoostClassifier()
model.fit(X_train,y_train)
predictions = model.predict(X_test)
score = average_precision_score(y_test, predictions)
display(score)
display(predictions)

Learning rate set to 0.10965
0:	learn: 1.9447691	total: 633ms	remaining: 10m 32s
1:	learn: 1.9438385	total: 1.09s	remaining: 9m 1s
2:	learn: 1.9430562	total: 1.64s	remaining: 9m 4s
3:	learn: 1.9424659	total: 2.12s	remaining: 8m 47s
4:	learn: 1.9418849	total: 2.61s	remaining: 8m 39s
5:	learn: 1.9414881	total: 3.12s	remaining: 8m 36s
6:	learn: 1.9411318	total: 3.58s	remaining: 8m 28s
7:	learn: 1.9407823	total: 4.03s	remaining: 8m 20s
8:	learn: 1.9405081	total: 4.47s	remaining: 8m 12s
9:	learn: 1.9402557	total: 4.91s	remaining: 8m 6s
10:	learn: 1.9400170	total: 5.33s	remaining: 7m 59s
11:	learn: 1.9397988	total: 5.86s	remaining: 8m 2s
12:	learn: 1.9395716	total: 6.25s	remaining: 7m 54s
13:	learn: 1.9393823	total: 6.68s	remaining: 7m 50s
14:	learn: 1.9391937	total: 7.08s	remaining: 7m 44s
15:	learn: 1.9389960	total: 7.48s	remaining: 7m 40s
16:	learn: 1.9388456	total: 7.88s	remaining: 7m 35s
17:	learn: 1.9386446	total: 8.37s	remaining: 7m 36s
18:	learn: 1.9384711	total: 8.83s	remaining: 7m 36s
19:	learn: 1.9383231	total: 9.26s	remaining: 7m 33s
20:	learn: 1.9381594	total: 9.64s	remaining: 7m 29s
21:	learn: 1.9379817	total: 10.1s	remaining: 7m 28s
22:	learn: 1.9378663	total: 10.5s	remaining: 7m 23s
23:	learn: 1.9377531	total: 10.9s	remaining: 7m 22s
24:	learn: 1.9376209	total: 11.3s	remaining: 7m 22s
25:	learn: 1.9375158	total: 11.7s	remaining: 7m 19s
26:	learn: 1.9373781	total: 12.2s	remaining: 7m 18s
27:	learn: 1.9372689	total: 12.6s	remaining: 7m 17s
28:	learn: 1.9371408	total: 13.1s	remaining: 7m 18s
29:	learn: 1.9370287	total: 13.5s	remaining: 7m 17s
30:	learn: 1.9368982	total: 14s	remaining: 7m 16s
31:	learn: 1.9368058	total: 14.4s	remaining: 7m 14s
32:	learn: 1.9366879	total: 14.8s	remaining: 7m 13s
33:	learn: 1.9365737	total: 15.2s	remaining: 7m 13s